/* This is CSS File */

/* Start Global Variables */
:root {
  --mainColor: #0b9586;
  --textColor: #fff;
}
/* End Global Variables */

/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: inter, sans-serif;
}
/* End Global Rules */

/* Start utility classes */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.rounded-10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.rounded-12 {
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.rounded-full {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End utility classes */

/* Start Typography */
.large-text-regular {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.large-text-bold {
  font-size: 42px;
  font-weight: 600;
  line-height: 50.83px;
  letter-spacing: -0.02em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.medium-text-regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.30000001192092896px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.medium-text-bold {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.medium-text-semibold {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.small-text-regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  letter-spacing: 0.08em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.small-text-semibold {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.xsmall-text-regular {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.2571428716182709px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
/* End Typography */

/* Start Combonents */
.section {
  width: 100%;
  padding: 80px 100px;
}
.text-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.button {
  width: fit-content;
  height: 40px;
  padding: 12px 34px;
  border: none;
  border-radius: 109px;
  -webkit-border-radius: 109px;
  -moz-border-radius: 109px;
  -ms-border-radius: 109px;
  -o-border-radius: 109px;
}
.cards {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.card {
  flex: 1;
  background-color: #fff;
  box-shadow: 0 4px 30px 0 #0000000d;
}
.card > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card > .text-box {
  padding: 20px;
  text-align: left;
}
.card > .text-box > h3 {
  color: #101828;
}
.card > .text-box > p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #475467;
}
.card > .text-box > a {
  width: fit-content;
  color: #3cab90;
}
.card > .text-box > a > span {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.rounded-card {
  flex: 1;
  height: 418px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px;
  background-color: #3cab900d;
  border: 1px solid #3cab90;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.rounded-card > .text-box > {
  text-align: left;
}
.rounded-card > .text-box > h3 {
  color: #101828;
}
.rounded-card > .text-box > p {
  color: #101828;
}
.rounded-card > .text-box > p > span {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.rounded-card > .text-box > a {
  color: #3cab90;
}
.rounded-card > .text-box > a > span {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
/* End Combonents */

/* Start Navigation Bar Style */
nav {
  background-color: var(--mainColor);
  width: 100%;
  height: 86px;
  padding: 16px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav > .logo {
  background-color: #e5e5e5;
  mix-blend-mode: multiply;
}
nav > .logo > h1 {
  display: none;
}
nav > .logo > img {
  width: 157px;
  height: 54px;
  padding: 5px;
  object-fit: contain;
}
nav > .links {
  width: 506px;
  height: 38px;
  display: flex;
  align-items: center;
  gap: 8px;
}
nav > .links > li {
  padding: 8px 28px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.94px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
nav > .links > li.active {
  border-bottom: 3px solid #0000004d;
  font-weight: 600;
}
nav > .links > li > a {
  color: var(--textColor);
}
nav > .call-us {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
nav > .call-us > :first-child {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.94px;
  color: var(--textColor);
}
nav > .call-us > :first-child {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.94px;
  color: var(--textColor);
}
nav > .call-us > :last-child {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.94px;
  color: var(--textColor);
}
/* End Navigation Bar Style */

/* Start Solar Section Style */
.solar-section {
  background-image: url("images/solar-panels-meadow\ 1.png");
  background-size: cover;
  width: 100%;
  height: 650px;
  position: relative;
}
.solar-section > .slider-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 330px;
  height: 25px;
  position: relative;
  top: 55px;
  left: 50px;
}
.solar-section > .slider-bar > span:first-child,
.solar-section > .slider-bar > span:last-child {
  color: var(--textColor);
}

.solar-section > .slider-bar > .bar {
  width: 220px;
  height: 4px;
  background-color: #575757;
}

.solar-section > .slider-bar > .bar::before {
  content: "";
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 90px;
  height: 4px;
  background-color: var(--textColor);
}

.solar-section > .text-box {
  width: 729px;
  height: 300px;
  position: relative;
  top: 160px;
  left: 50px;
}

.solar-section > .text-box > .title {
  font-size: 52px;
  font-weight: 600;
  line-height: 62px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--textColor);
}

.solar-section > .text-box > .desc {
  color: var(--textColor);
}

.solar-section > .text-box > .buttons {
  display: flex;
  gap: 20px;
}

.solar-section > .text-box > .buttons > button:first-child {
  background-color: #3cab90;
  color: var(--textColor);
}

.solar-section > .text-box > .buttons > button:last-child {
  background-color: #ffbb1c;
  color: #2a3334;
}
/* End Solar Section Style */

/* Start Friendliest Section Style */
.friendliest-section {
  height: 700px;
  display: flex;
  gap: 100px;
  background-color: #fff;
}

.friendliest-section > .text-box > .title {
  color: #101828;
}

.friendliest-section > .text-box > .desc {
  color: #475467;
}

.friendliest-section > .text-box > .list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.friendliest-section > .text-box > .list > li {
  color: #101828;
}

.friendliest-section > .text-box > .list > li > span {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.28px;
  letter-spacing: 4px;
  color: #84bd3a;
  text-align: left;
  margin-inline-end: 5px;
}

.friendliest-section > .image {
  width: 520px;
  height: 552px;
  position: relative;
}
.friendliest-section > .image > .info {
  position: absolute;
  width: 266px;
  height: 208px;
  top: 310px;
  left: -60px;
  padding: 24px 30px;
  background-color: #ffbb1c;
}
.friendliest-section > .image > .info > p {
  margin-top: 15px;
  color: #2a3334;
}
/* End Friendliest Section Style */

/* Start Power Section Style */
.power-section {
  background-image: url("images/8116\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
}
.power-section > .text-box {
  width: 600px;
}
.power-section > .text-box > .title {
  color: #ffffff;
}
.power-section > .text-box > .desc {
  color: #fff;
}
.power-section > .text-box > .button {
  background-color: #ffbb1c;
}
/* End Power Section Style */

/* Start Solar Kits Section Style */
.solarkits-section {
  height: auto;
}
.solarkits-section > .text-box {
  padding: 0 100px;
  margin-bottom: 40px;
}
.solarkits-section > .text-box > .title {
  color: #101828;
}
.solarkits-section > .text-box > .desc {
  color: #475467;
}
/* End Solar Kits Section Style */
/* Stsrt Repairs Section Style */
.repairs-section {
  height: 500px;
  background-image: url("images/8116\ 1\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.repairs-section > .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #3cab900f;
}
.repairs-section > .overlay > .text-box {
  width: 800px;
  color: #fff;
  padding: 44px;
  background-color: #00000091;
  backdrop-filter: blur(24px);
}
/* End Repairs Section Style */

/* Start Energy Section Style */
.energy-section {
  display: flex;
  gap: 32px;
  background-color: #ffbb1c0d;
}
.energy-section > div {
  flex: 1;
}
.energy-section > .cards > .rounded-card > .image {
  background-color: #3cab9026;
  padding: 10px;
}
.energy-section > .cards > .rounded-card > .image > img {
  mix-blend-mode: luminosity;
}
.energy-section > .text-box {
  position: relative;
}
.energy-section > .text-box > .icon {
  width: 56px;
  height: 56px;
  background-color: #3cab90;
  outline: 12px solid #3cab9026;
}
.energy-section > .text-box > .icon > img {
  width: 28px;
  height: 28px;
}
.energy-section > .text-box > .title {
  color: #101828;
}
.energy-section > .text-box > .desc {
  color: #475467;
}
.energy-section > .cards {
  flex-direction: column;
}
/* End Energy Section Style */

/* Start Our Values Section Style */
.ourvalues-section {
  background-color: #fff;
}
.ourvalues-section > .text-box {
  margin-bottom: 40px;
}
.ourvalues-section > .cards > .rounded-card {
  background-color: #3cab900d;
}
.ourvalues-section > .cards > .rounded-card > .image {
  width: 70px;
  height: 70px;
}
.ourvalues-section > .cards > .rounded-card > .image > img {
  max-width: 100%;
}
/* End Our Values Section Style */
/* Start WOC Section Style */
.woc-section {
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 32px;
}
.woc-section > .text-box {
  width: 400px;
}
.woc-section > .text-box > .title {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1c1c1c;
}
.woc-section > .text-box > .desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1c1c1c;
}
.woc-section > .rounded-card {
  gap: 87px;
  background-color: #3cab900f;
}
.woc-section > .rounded-card > .top {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.woc-section > .rounded-card > .top > .text {
  display: flex;
  flex-direction: column;
  gap: 52px;
}
.woc-section > .rounded-card > .top > .text > .title {
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.16px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #3cab90;
}
.woc-section > .rounded-card > .top > .text > .desc {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #101828;
}
.woc-section > .rounded-card > .top > .bullets {
  height: 8px;
  display: flex;
  gap: 5px;
}
.woc-section > .rounded-card > .top > .bullets > li {
  width: 8px;
  height: 8px;
  background-color: #d9d9d9;
}
.woc-section > .rounded-card > .top > .bullets > li.active {
  background-color: #6b6b6b;
}
.woc-section > .rounded-card > .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.woc-section > .rounded-card > .bottom > .info {
  display: flex;
  align-items: center;
  gap: 8px;
}
.woc-section > .rounded-card > .bottom > .info > .image {
  width: 60px;
  height: 60px;
}
.woc-section > .rounded-card > .bottom > .info > .text {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.woc-section > .rounded-card > .bottom > .info > .text > .name {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1c1c1c;
}
.woc-section > .rounded-card > .bottom > .info > .text > .job {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1c1c1c;
}
.woc-section > .rounded-card > .bottom > .buttons {
  display: flex;
  gap: 16px;
}
.woc-section > .rounded-card > .bottom > .buttons > button {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: 1px solid #1c1c1c;
}
.woc-section > .rounded-card > .bottom > .buttons > button > img {
  width: 32px;
  height: 32px;
  background-color: #00000000;
}
/* End WOC Section Style */
/* Start Footer Style */
footer {
  display: flex;
  flex-direction: column;
  gap: 54px;
  width: 100%;
  background-color: #283646;
}
footer > .top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
footer > .top > .links {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
footer > .top > .links > .image {
  width: 185px;
  height: 64px;
}
footer > .top > .links > .image > img {
  mix-blend-mode: luminosity;
}
footer > .top > .links > .menu {
  display: flex;
  gap: 40px;
}
footer > .top > .links > .menu {
  display: flex;
  gap: 40px;
}
footer > .top > .links > .menu > li > a {
  color: #ffffff;
}
footer > .top > .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 1px;
}
footer > .top > .form > h3 {
  color: #ffffff;
}
footer > .top > .form > form {
  width: 406px;
  height: 48px;
  position: relative;
}
footer > .top > .form > form > .email {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  color: #ffffff17;
  background-color: transparent;
  border: 1px solid #b3bdc7;
  border-radius: 38px;
  -webkit-border-radius: 38px;
  -moz-border-radius: 38px;
  -ms-border-radius: 38px;
  -o-border-radius: 38px;
}
footer > .top > .form > form > .button {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background-color: #ffbb1c;
}
hr {
  border: 1px solid #71777d;
}
footer > .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer > .bottom>.links {
  display: flex;
  align-items: center;
}
footer > .bottom>.links>li {
  position: relative;
}
footer > .bottom>.links>li::after {
  position: relative;
  content: '|';
  padding: 0 20px;
  color: #92989F;
}
footer > .bottom>.links>li>a {
  color: #92989F;
}
footer > .bottom>.copy-right {
  color: #92989F;
}
/* End Footer Style */
